allow vendor_init persist_file:lnk_file read;
allow vendor_init dirac_prop:property_service set;

# Allow vendor_init to set vendor_camera_prop
set_prop(vendor_init, vendor_camera_prop)
set_prop(vendor_init, vendor_persist_camera_prop)
